<div>
  <div class="py-40 bg-gray-100">Hello</div>
</div>
<div class="w-3/4 mx-auto flex p-4 gap-x-2 bg-gray-200">
  <div class="w-1/4 bg-white">
    <h2>My Profile</h2>
    <div>Nickname: Shree</div>
    <div>Male</div>
    <div>Phone</div>
    <div>Email</div>
  </div>
  <div class="w-1/4 bg-white">
    <h2>Reviews</h2>
    <div>Nickname: Shree</div>
    <div>Male</div>
    <div>Phone</div>
    <div>Email</div>
  </div>
  <div class="w-1/4 bg-white">
    <h2>Wishlist</h2>
    <div>Nickname: Shree</div>
    <div>Male</div>
    <div>Phone</div>
    <div>Email</div>
  </div>
  <div class="w-1/4 bg-white">
    <h2>Messages</h2>
    <div>Nickname: Shree</div>
    <div>Male</div>
    <div>Phone</div>
    <div>Email</div>
  </div>
</div>
