<div class="p-4 bg-gray-50">
  <div class="flex">
    <div class="w-1/2 mr-4 p-4 bg-white">
      <h2 class="text-xl">Delivery address</h2>
      <div class="flex">
        <div class="w-2/3 border m-4">
          <p>Shree Charan</p>
          <p>XYZ road</p>
          <p>NYC</p>
          <p>USA</p>
        </div>
        <div class="1/3">
          <button class="btn">Add new</button>
        </div>
      </div>

      <h3>All Addresses</h3>
      <div class="hs-accordion-group">
        <div
          class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl"
          id="hs-active-bordered-heading-one"
        >
          <button
            class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-controls="hs-basic-active-bordered-collapse-one"
          >
            Accordion #1
            <svg
              class="hs-accordion-active:hidden block size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14" />
            </svg>
          </button>
          <div
            id="hs-basic-active-bordered-collapse-one"
            class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-active-bordered-heading-one"
          >
            <div class="pb-4 px-5">
              <div class="text-gray-800">
                <p>Shree Charan</p>
                <p>XYZ road</p>
                <p>NYC</p>
                <p>USA</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl"
          id="hs-active-bordered-heading-two"
        >
          <button
            class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-controls="hs-basic-active-bordered-collapse-two"
          >
            Accordion #1
            <svg
              class="hs-accordion-active:hidden block size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14" />
            </svg>
          </button>
          <div
            id="hs-basic-active-bordered-collapse-two"
            class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-active-bordered-heading-two"
          >
            <div class="pb-4 px-5">
              <div class="text-gray-800">
                <p>Shree Charan</p>
                <p>XYZ road</p>
                <p>NYC</p>
                <p>USA</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl"
          id="hs-active-bordered-heading-three"
        >
          <button
            class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-controls="hs-basic-active-bordered-collapse-three"
          >
            Accordion #1
            <svg
              class="hs-accordion-active:hidden block size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>
            <svg
              class="hs-accordion-active:block hidden size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14" />
            </svg>
          </button>
          <div
            id="hs-basic-active-bordered-collapse-three"
            class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-active-bordered-heading-three"
          >
            <div class="pb-4 px-5">
              <div class="text-gray-800">
                <p>Shree Charan</p>
                <p>XYZ road</p>
                <p>NYC</p>
                <p>USA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-xl">Delivery method</h2>
      <div class="flex">
        <div class="w-1/2">Standart delivery</div>
        <div class="w-1/2">Speed delivery</div>
      </div>
      <h2 class="text-xl">Payment method</h2>
      <div>
        <div class="grid space-y-2">
          <label
            for="hs-vertical-radio-in-form"
            class="max-w-xs flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
          >
            <input
              type="radio"
              name="hs-vertical-radio-in-form"
              class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              id="hs-vertical-radio-in-form"
            />
            <span class="text-sm text-gray-500 ms-3 dark:text-gray-400"
              >Default radio</span
            >
          </label>

          <label
            for="hs-vertical-radio-checked-in-form"
            class="max-w-xs flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
          >
            <input
              type="radio"
              name="hs-vertical-radio-in-form"
              class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              id="hs-vertical-radio-checked-in-form"
              checked
            />
            <span class="text-sm text-gray-500 ms-3 dark:text-gray-400"
              >Checked radio</span
            >
          </label>
        </div>
      </div>
    </div>
    <div class="w-1/2 p-8 bg-white">
      <h2 class="text-xl">Order Summary</h2>
      <h3 class="text-lg">3 itmes</h3>
      <div *ngFor="let item of items">
        <div class="flex gap-x-4">
          <div class="w-1/5">
            <img [src]="'assets/' + item.item.colors.get(item.color)" alt="" />
          </div>
          <div class="w">
            <h3>{{ item.item.brand }} {{ item.item.model }}</h3>
            <p>{{ item.color }}</p>
            <p>{{ item.variant }}</p>
            <p>Quantity: {{ item.quantity }}</p>
          </div>
          <div class="">{{ item.itemValue }}</div>
        </div>
      </div>
      <div>
        <div class="flex">
          <div>Total</div>
          <div>9999</div>
        </div>
        <div class="flex">
          <div>Subtotal</div>
          <div>9999</div>
        </div>
        <div class="flex">
          <div>Shipping fee</div>
          <div>100</div>
        </div>
      </div>
      <div class="flex">
        <div>Coupon</div>
        <div>Apply coupon</div>
      </div>

      <button
        (click)="placeOrder()"
        type="button"
        class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
      >
        Pay now
      </button>
      <button
        *ngIf="true"
        type="button"
        class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        data-hs-overlay="#hs-vertically-centered-modal"
      >
        Vertically centered modal
      </button>
    </div>
  </div>
</div>

<div
  id="hs-vertically-centered-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
>
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center"
  >
    <div
      class="w-full flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]"
    >
      <div
        class="flex justify-between items-center py-3 px-4 border-b dark:border-gray-700"
      >
        <h3 class="font-bold text-gray-800 dark:text-white">Modal title</h3>
        <button
          type="button"
          class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          data-hs-overlay="#hs-vertically-centered-modal"
        >
          <span class="sr-only">Close</span>
          <svg
            class="flex-shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <p class="text-gray-800 dark:text-gray-400">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
      </div>
      <div
        class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-gray-700"
      >
        <button
          type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          data-hs-overlay="#hs-vertically-centered-modal"
        >
          Close
        </button>
        <button
          type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
